<html>
    <head>
        <title>About Page</title>
    </head>
    <body style="font-family:Courier,sans-serif; background-color:cornsilk;">
        <div>
            <img src = "../assets/KLM.jpg" alt = "resume pic" width = "10%" height = "10%" style="vertical-align:middle; margin-left:45%; margin-top: 3%;"><br />
            <h1 style="width: 50%; margin-left: 35%; padding: 10px;">Name: Kian L. Maniago</h1>
            <h4 style="width: 50%; margin-left: 35%; padding: 10px;">Personal Information:</h4>
            <ul style="width: 50%; margin-left: 35%; padding: 10px;">
                <li>Age : 20</li>
                <li>Gender : Male</li>
                <li>Citizenship : Filipino</li>
                <li>Religion : Catholic</li>
                <li>Date of Birth : April 23,2001</li>
                <li>Mother : Leslie L. Maniago</li>
                <li>Father : Joven T. Maniago</li>
                <li>Civil Status : Single</li>
            </ul>
            </div>
    </body>
</html>