<div class="container-1">
    <h1 class="head-1">KLM THRIFT STORE</h1>
    <p>Shopping at a secondhand shop is not quite the same as shopping at a retail location. Whenever you go to a secondhand shop,
         you don't really go with a rundown. Thrift shopping is more regarding the chase than finding one specific thing. 
         Since secondhand shops are brimming with rare and slow time of year products, it's amusing to see what you could find. 
         Whatever addresses you, anything you love, that is what you purchase! Also, when you get to the checkout line,
          you'll see your bill is altogether lower than it would be at a retail location.</p>
</div>
<div class="container-2">
<div class="card-group">
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">What I offer? </h5>
      <p class="card-text">KLM Thrift Store offers the necessary wants and needs of customers with different kinds of goods that can only be seen here.</p>
    </div>
  </div>

  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Products</h5>
      <p class="card-text">We provide you with different items from household materials to personal clothings.</p>
    </div>
  </div>
  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Why shop here?</h5>
      <p class="card-text">The prices are very affordable and the products are quality even if they are secondhand, they are less worn out.</p>
    </div>
  </div>
  </div>
</div>