<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">Personal Details</p>
        <a routerLink="../about" class="btn btn-primary">About</a>&nbsp;
        <a href="../" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Skills</h5>
        <p class="card-text">Education</p>
        <a routerLink="../skills" class="btn btn-primary">Skills</a>&nbsp;
        <a href="../" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Portfolio</h5>
        <p class="card-text">Works</p>
        <a routerLink="../portfolio" class="btn btn-primary">About</a>&nbsp;
        <a href="../" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contacts</h5>
        <p class="card-text">Contact Details</p>
        <a routerLink="../contact" class="btn btn-primary">Skills</a>&nbsp;
        <a href="../" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>