<html>
    <head>
        <title>Skills Page</title>
    </head>
    <body style="font-family:Courier,sans-serif; background-color:cornsilk;">
        <div style="width: 50%; margin-left: 35%; padding: 10px;">
            <h4>Educational Background:</h4>
            <p>Elementary : Mexico Elementary School <br>2007 - 2013</p>
            <p>High School : Pampanga High School <br> 2013 - 2017</p>
            <p>Senior High School : STI College - San Fernando <br> 2017 - 2019</p>
            <p>College : Holy Angel University <br> 2019 - Present</p>
            </div>
    </body>
</html>
